
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* CSS variables */
:root {
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Oswald", cursive;
    --primary-color: white;
    /* dark brown */
    --secondary-color: #aa9581;
    /* light brown */
    --button-blue: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2;
    /* light blue */
    --transparent-black: rgba(0, 0, 0, 0.336);
     /* 50% transparent black */
}


/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 100px; /* Pushes the top of the header below navbar */
    background-color: gray;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.transparent-black-bg {
    background-color: var(--transparent-black);
}

/* Navbar styling */

#navbar {
    background-color: var(--transparent-black);
}

#navbar .logo {
    width: 200px;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--button-blue);
    background-color: var(--button-blue);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid white;
    background-color: gray;
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}


/* Carousel styling */


 .carousel-inner {
    border-radius: 15px; 
    overflow: hidden;  /* Applies curved edges to carousel images */
} 

.carousel-item img {
    height: 400px; 
    object-fit: cover; 
    width: 100%; 
}


/*Media queries */

/* Screens up to 768px */
@media (max-width: 768px) {
    #carouselExampleAutoplaying {
        margin-bottom: 1rem; 
    }
}